<div class="column is-one-third">
  <div class="card product">
    <div class="card-content">
      <p class="title is-4"><%= product.name %></p>
      <p><%= image_tag url_for(product.image) %></p>
      <ul>
        <li><strong>Price: </strong><%= product.price %></li>
        <li><strong>Size: </strong><%= product.size %></li>
        <li><strong>Quantity: </strong><%= product.quantity %></li>
      </ul>
    </div>
  </div>
</div>